[user]
	name = jojongguk
	email = rusad96@gmail.com
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[core]
	pager = delta
[delta]
  side-by-side = false
  line-numbers = true       # 라인 번호 표시 활성화
  navigate = true 
  dark = true
[interactive]
  diffFilter = delta --color-only
[diff]
	context = 10
[merge]
  conflictStyle = zdiff3
